#header {
  text-align: center;
  font-family: Chalkduster, fantasy;
}

h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;

}
.toppings {
  height: 120px;
  width: auto;
  margin-left: 100px;
}
#mainpeach {
  height: 400px;
  width: auto;
  margin-left: 150px;
}
#pizza-product {
  height: 400px;
  width: auto;
}
body {
    background-color: pink;
    color: white;
    text-shadow: 1px 1px 2px #633963;
  }

.jumbotron {
  background-color: inherit;
}

#small {
  height: 200px;
  width: auto;
}

#medium {
  height: 250px;
  width:auto;
}

#large {
  height: 300px;
  width: auto;
}
